DATABASE_URI=mongodb+srv://sekolahku-db-user-prod:EyhDoPp8AsOOwXVl@sekolahku-cluster-prod-pl-1.5szaj6.mongodb.net/payload-data?appName=sekolahku-cluster-prod
PAYLOAD_SECRET=6abecf67c60836eab93f95c9

BASE_URL=http://localhost:3000
S3_BUCKET_NAME=my.gov.digital.sekolahku-cms-bucket-prod
# Use local filesystem storage during development. Set to s3 when using AWS S3.
STORAGE_DRIVER=local